[Unit]
Description={{ service_name }} gunicorn daemon
After=network.target

[Service]
PIDFile=/run/{{ service_name }}.pid
RuntimeDirectory=gunicorn
{% for (k, v) in environment_variable.items() %}
Environment={{ k }}={{ v }}
{% endfor %}
ExecStart={{ virtualenv| default('/usr/local') }}/bin/gunicorn {{ application }} \
  --user={{ user_name }} \
  --bind={{ bind }} \
  --pid=/run/{{ service_name }}.pid \
  --worker-class={{ worker_class | default('gevent') }} \
  --log-level={{ log_level }}\
  --log-file=/var/log/{{ service_name }}/{{ service_name }}.log \
  --access-logfile=/var/log/{{ service_name }}/access.log \
  {% if log_level == "debug" %} --reload {% endif %} \
  {% if log_level == "debug" %} --reload-engine poll {% endif %} \
{% for (k, v) in gunicorn_config.items() %} \
  --{{ k }}={{ v }} \
{% endfor %}

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=false
Restart=always

[Install]
WantedBy=multi-user.target
